.wrapper {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../assets/images/movie-details-page-BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .main {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 300px auto 0;

    .genresAndDuration {
      display: flex;
    }

    .description {
      margin: 0 0 30px 30px;
    }

    .buttons {
      display: flex;

      .watchButton {
        margin-right: 10px;
      }
    }
  }
}
