.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 640px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../../assets/images/movie-details-page-BG.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .movie {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 65px;
    margin-bottom: 30px;
  }
}

@media all and (max-width: 800px) {
  .wrapper {
    height: 1000px;
    justify-content: flex-start;

    .movie {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 100px;
      margin-top: 100px;
    }
  }
}

@media all and (max-width: 470px) {
  .wrapper {
    .movie {
      margin-left: 35px;
    }
  }
}
