$watchColor: #0aaee4;

.button {
  width: 100px;
  height: 25px;
  border-radius: 3px;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.watch {
  border: 1px solid $watchColor;
  background-color: $watchColor;
}

.view {
  border: 1px solid #fff;
  background-color: transparent;
}
